<% include _head.ejs %>
<header>
    <h1 class="trendz">Trendz</h1>
    <ul class="navigation">
        <li><a href="#">Projects: All</a></li>
        <li><a href="#">Everyone</a></li>
        <li><a href="#">Me</a></li>
    </ul>
</header>