<!doctype html>
<html>
<head>
	<title>Trendz.io</title>
	<link href='http://fonts.googleapis.com/css?family=Damion' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/assets/css/style.css">
</head>