<% include _header.ejs %>
<div class="container">
    <div class="posts">
        <div class="post">
            <div class="post-metadata">
                Posted by Stan 
            </div>
            <div class="post-content">
                Je viens de livrer en recette interne.
            </div>
        </div>
    </div>
</div>
<% include _foot.ejs %>