<!doctype html>
<html>
<head>
	<title>Trendz.io</title>
	<link href='http://fonts.googleapis.com/css?family=Damion' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>

<div class="container">
	<form action="/status" method="post">
		<label>Status</label>
		<input type="text" name="status[content]">
		<button type="submit">Add</button>
	</form>
    <div class="list-status">
        <% listStatus.forEach(function(status) { %>
        <div class="status">
            <div class="status-content"><%= status.content %></div>
            <div class="status-metadata">Poster by <%= status.user.email %></div>
        </div>
        <% }); %>
    </div>
</div>
</body>
</html>